.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 1;
    top: 40vh;
    left: 40vw;
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}